

<div class="main users-edit">
  <div class="container">
      <div class="form-body">
        <!-- 次の行からform_tagを使い、編集内容を送信できるようにしましょう(endの忘れに注意です) -->
        <%= form_with(model: @user, url: update_picture_path) do |f| %>
        
        <%= f.label :image %>
　　    <%= f.file_field :image %> 
　　    
　　    <%= f.submit "画像アップロード", class: "btn btn-primary" %>
        <% end %>
      </div>
  </div>
</div>


